$linkcolor: rgb(173, 173, 173);
$linkactivecolor: rgb(243, 243, 243);
$hovercolor: rgb(255, 255, 255);
$font-main: 'Arial';
$font-alt: 'Roboto', cursive;
$font-nav: 'Arial';
$defaultcolor: rgb(75, 75, 75);
$selectedcolor: #fcfcfc;