$linkcolor: rgb(255, 255, 255);
$linkactivecolor: rgb(184, 0, 0);
$hovercolor: rgba(255, 0, 0, 0.774);
$font-main: 'Playfair Display', serif;
$font-alt: 'Roboto', cursive;
$font-nav: 'PT Sans Narrow', sans-serif;
$defaultcolor: rgb(75, 75, 75);
$selectedcolor: #fcfcfc;